@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

 <form action="Admin/ChangePassword" method="post" style="border:2px solid maroon;text-align:center;">
     <div class="col-sm-12 panel panel-body" style="background:whitesmoke;border:2px solid black">
               <div class=" col-sm-8" style="border:2px solid maroon;font-family:Candara;text-align:center">
                   <h2 style="color:maroon;text-align:center"><u>Changepassword </u></h2><br /><br />
         Enter Old Password
         <input type="password" name="txtopass" /><br /><br />
         Enter New Password
         <input type="password" name="txtnewpass" /><br /><br />
         Enter Confirm Password
         <input type="password" name="txtcpass" />
         <br /><br />
                   <center>
         <input type="submit" class="form-control btn-warning" value="Change Password"style="width:200px" />
                      </center>
     </div>
                    </div>
     <div class="col-sm-4"></div>
            </form>
    
