@{
    ViewBag.Title = "UpEnquiry";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


<hr />
<div class="col-sm-12" style="background:whitesmoke;border:2px solid black">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 panel panel-body">
        <form action="Admin/UpEnquiry" method="post"style="border:2px solid black;padding:9px">
            <h2 style="color:maroon;text-align:center"><b><u>Update Enquiry Detalis</u></b></h2><br /><br />
            Name Here
            <input type="text" class="form-control" name="txtname" value="@ViewBag.name" />
            Enter Email
            <input type="text" class="form-control" name="txtemail" value="@ViewBag.email" />
            Enter Mobile
            <input type="text" class="form-control" name="txtmobile" value="@ViewBag.mobile" />
            <br />
            <input type="submit" class="form-control btn-info" value="Update Now" />
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>
