@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/UserMaster.cshtml";
}

<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 panel panel-body" style="border:2px outset teal">
                <form action="/User/Changepassword" method="post">
                    Old Password
                    <input type="password" name="txtopass" autocomplete="off" class="form-control" />
                    New Password
                    <input type="password" name="txtnpass" autocomplete="off"  class="form-control" />
                    Confirm Password
                    <input type="password" name="txtcpass" autocomplete="off" class="form-control" />
                    <br />
                    <input type="submit" value="Edit" class="form-control btn-info" />
                </form>
            </div>
        </div>
    </div>
</div>

